{{>layout/header}}

        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_title"> 
                  <h2>HOME > 데이터 수집 관리 > 이력보기</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> <br>
                  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">수집명</div>
                        <div class="form-control_box">문화재데이터</div>
                      </div>
                      <div class="form-group row col-12 col-md-3">
                        <div class="control-label">수집 방식</div>
                        <div class="form-control_box">DB to DB</div>
                      </div>
                      <div class="form-group row col-12 col-md-3">
                        <div class="control-label">설정 정보명</div>
                        <div class="form-control_box">1번_DB</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">수집주기</div>
                        <div class="form-control_box">매년 01월 01-01 01:10</div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">갱신일</div>
                        <div class="form-control_box">2022-01-01 01:10:00</div>
                      </div>
                    </div>
                  </div>
                  <div class="table_responsive">
                    <table class="table table-striped">
                      <colgroup> 
                      </colgroup>
                      <thead>
                        <tr> 
                          <th>수집일</th>
                          <th>수집 시작 일시</th>
                          <th>수집 종료 일시</th>
                          <th>수집 대상 건수</th>
                          <th>적재 건수</th>
                          <th>실패 건수</th>
                          <th>상태</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-target=".history_modal" type="button" data-toggle="modal">2020-01-01</td>
                          <td>2020-01-01 01:10:00</td>
                          <td>2020-01-01 01:11:00</td>
                          <td>100</td>
                          <td>100</td>
                          <td>0</td>
                          <td>성공</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- history_modal -->
        <div class="modal fade history_modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" style="max-width: 1000px;">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">2021-12-01</h4>
                <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
              </div>
              <div class="modal-body">
                <div class="x_content"> 
                  <div class="table_responsive">
                    <table class="table table-striped">
                      <colgroup> </colgroup>
                      <thead>
                        <tr> 
                          <th>NO</th>
                          <th>문화재명</th>
                          <th>문화재 순번</th>
                          <th>고유번호</th>
                          <th>유형</th>
                          <th>등록일</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>10</td>
                          <td>문화재명1</td>
                          <td>11</td>
                          <td>1111</td>
                          <td>1</td>
                          <td>2019.6.18 오후 1:07:39</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="nav justify-content-center"> 
                      <ul class="pagination"> 
                        <li class="page-item"> <a class="page-link" href="#">&lt; </a></li>
                        <li class="page-item"> <a class="page-link" href="#">1   </a></li>
                        <li class="page-item"> <a class="page-link" href="#">2 </a></li>
                        <li class="page-item"> <a class="page-link" href="#">&gt;           </a></li>
                      </ul>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                
{{>layout/footer}}        



