{{>layout/header}}
        <div class="right_col" role="main">
        <form name="form1" id="form1">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
              	<div class="x_title"> 
                  <h2>HOME > 데이터 수집 방식 관리 > 수정/삭제</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> <br>
                  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">수집방식</div>
                        <div class="form-control_box">
                          <select class="form-control" name="method_cd" id="method_cd" disabled="disabled">
                              <option value="A01002">File</option>
	                          <option value="A01001">Database</option>
                            </select>
                        </div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">수집방식명</div>
                        <div class="form-control_box">
                          <input class="form-control" type="text" name="method_nm" id="method_nm">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_content"> <br>
                  <div id="f_layer">
	                  <div class="border_rows">
	                    <div class="row">
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">파일경로</div>
	                        <div class="form-control_box">
	                          <input class="form-control" type="text" name="file_path" id="file_path" placeholder="/root/LX.AGENT/dataSample">
	                        </div>
	                      </div>
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">Bypass여부</div>
	                        <div class="form-control_box" style="text-align: center;">
	                          <div class="radio radio_inline" style="padding-right: 70px; font-size: 20px;">
	                            <label>
	                              <input type="radio" id="bypass_yn1" name="bypass_yn" value="Y" style="width: 15px; height: 15px;">YES
	                            </label>
	                          </div>
	                          <div class="radio radio_inline" style="font-size: 20px;">
	                            <label>
	                              <input type="radio" id="bypass_yn2" name="bypass_yn" value="N" style="width: 15px; height: 15px;">NO
	                            </label>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                    <div class="row" id="f_layer2" style="display: none;">
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">확장자</div>
	                        <div class="form-control_box">
	                          <select class="form-control" name="file_ext" id="file_ext">
	                              <option value="A06001">csv</option>
	                              <option value="A06002">xlsx</option>
	                              <option value="A06003">txt</option>
	                            </select>
	                        </div>
	                      </div>
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">구분자</div>
	                        <div class="form-control_box">
	                          <select class="form-control" name="file_delimiter" id="file_delimiter">
	                              <option value="A07001">콤마(,)</option>
	                              <option value="A07002">탭( )</option>
	                              <option value="A07003">파이프(|)</option>
	                            </select>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	              </div>
                  <div id="d_layer" style="display: none;">
	                  <div class="border_rows">
	                    <div class="row">
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">Type</div>
	                        <div class="form-control_box">
	                          <select class="form-control" name="db_type" id="db_type" disabled="disabled">
	                              <option value="A02001">PostgreSQL</option>
	                              <option value="A02002">Oracle</option>
	                              <option value="A02003">MariaDB</option>
	                              <option value="A02004">MySQL</option>
	                            </select>
	                        </div>
	                      </div>
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">Database Name</div>
	                        <div class="form-control_box">
	                        	<input class="form-control" type="text" name="db_database" id="db_database" placeholder="postgres" readonly="readonly">
	                        </div>
	                      </div>
	                    </div>
	                    <div class="row">
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">IP</div>
	                        <div class="form-control_box">
	                          <input class="form-control" type="text" name="db_ip" id="db_ip" placeholder="192.168.1.30" readonly="readonly">
	                        </div>
	                      </div>
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">Port</div>
	                        <div class="form-control_box">
	                          <input class="form-control" type="text" name="db_port" id="db_port" placeholder="5432" readonly="readonly">
	                        </div>
	                      </div>
	                    </div>
	                    <div class="row">
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">User Name</div>
	                        <div class="form-control_box">
	                          <input class="form-control" type="text" name="db_user_nm" id="db_user_nm" placeholder="lxoffice123" readonly="readonly">
	                        </div>
	                      </div>
	                      <div class="form-group row col-12 col-md-6">
	                        <div class="control-label">Password</div>
	                        <div class="form-control_box">
	                          <input class="form-control" type="password" name="db_pwd" id="db_pwd" placeholder="********" readonly="readonly">
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="row">
					    <div class="metatable_box col-6">
					    	<h4 class="center_title">스키마 목록</h4>
						    <div class="form-group row">
						      <div class="table_responsive" style="height: 300px; overflow: auto">
						       <table class="table table-striped table-bordered bulk_action">
						         <thead style="text-align: center;">
						           <tr>
						             <th>스키마명</th>
						           </tr>
						         </thead>
						         <tbody class="left_tbl" id="schemaList">
						         </tbody>
						       </table>
						     </div>
							</div>
						</div>
						<div class="metatable_box col-6 col-lg-6">
							<h4 class="center_title">테이블 목록</h4>
						    <div class="form-group row">
						     <div class="table_responsive" style="height: 300px; overflow: auto">
						       <table class="table table-striped table-bordered bulk_action">
						       	 <colgroup>
	                                <col width="55px">
	                              </colgroup>
						         <thead style="text-align: center;">
						           <tr>
						             <th></th>
						             <th>테이블명</th>
						             <th>테이블 설명</th>
						           </tr>
						         </thead>
						         <tbody class=right_tbl" id="tableList">
						         </tbody>
						       </table>
						     </div>
							</div>
						</div>
					</div>
	              </div>
                  <div class="right_btns"> 
                    <button class="btn btn-primary" type="button" onclick="agentCmUpdate();">수정</button>
                    <button class="btn btn-danger" type="button" onclick="agentCmDelete();">삭제</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>

{{>layout/footer}}

<script>

const url = '/agent/collectionMethod';

const methodCd1 = 'A01001';	//데이터베이스
const methodCd2 = 'A01002';	//파일

//데이터베이스 수집방식 상세조회
const agentCmDbDetail = function(){
	
	let db_id = '{{update_id}}';
	
	const data = {
   		url: '/cm/'+methodCd1+'/detail',
   		user_id: 'user00',
   		db_id: db_id
    };	

    $.ajax({
        type: 'POST',
        url: url+'/agentCmDbDetail',
        dataType: 'json',
        contentType: 'application/json; charset-utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
    	
    	errorMsg(data);
    	
    	$('#method_nm').val(data.method_nm);
    	$("#db_type").val(data.db_type).prop("selected", true);
    	$("#db_database").val(data.db_database);
    	$("#db_ip").val(data.db_ip);
    	$('#db_port').val(data.db_port);
    	$("#db_user_nm").val(data.db_user_nm);
    	$('#db_pwd').val(data.db_pwd);
    	
    	let schemaTr = '';
    	schemaTr = '<tr>';
    	schemaTr += '	<td>'+data.schema_nm+'</td>';
    	schemaTr += '</tr>';
    	$('#schemaList').html(schemaTr);
    	
    	let tableTr = '';
    	for(let idx in data.tbl_list){
    		tableTr += '<tr>';
    		tableTr += '	<td><input name="table_name" type="checkbox" value="'+data.tbl_list[idx].tbl_id+'" checked disabled></td>';
    		tableTr += '	<td>'+isEmpty(data.tbl_list[idx].tbl_nm)+'</td>';
    		tableTr += '	<td>'+isEmpty(data.tbl_list[idx].tbl_desc)+'</td>';
    		tableTr += '</tr>';
    	}
		$('#tableList').html(tableTr);
		
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//파일 수집방식 상세조회
const agentCmFileDetail = function(){
	
	let file_id = '{{update_id}}';
	
	const data = {
   		url: '/cm/'+methodCd2+'/detail',
   		user_id: 'user00',
   		file_id: file_id
    };	

    $.ajax({
        type: 'POST',
        url: url+'/agentCmFileDetail',
        dataType: 'json',
        contentType: 'application/json; charset-utf-8',
        data: JSON.stringify(data)
    }).done(function (data) {
    	
    	errorMsg(data);
    	
    	$('#method_nm').val(data[0].method_nm);
    	$('#file_path').val(data[0].file_path);
    	if(data[0].bypass_yn == 'N'){
    		$('#bypass_yn2').prop("checked",true);
    		$("#f_layer2").show();
    		$("#file_ext").val(data[0].file_ext).prop("selected", true);
        	$("#file_delimiter").val(data[0].file_delimiter).prop("selected", true);
    	}else{
    		$('#bypass_yn1').prop("checked",true);
    	}
    	
    	
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });	
}

//데이터베이스 수집방식 수정
const agentCmDbUpdate = function(){
	
	let method_nm = $('#method_nm').val();
	let db_id = '{{update_id}}';
	
	if(!method_nm){
		alert('수집방식명을 입력하세요!');
        $("#method_nm").focus();
        return;
	}
	
	const data = {
   		url: '/cm/'+methodCd1+'/update',
   		user_id: 'user00',
   		db_id: db_id,
   		method_nm: method_nm,
    };	

	if (confirm("수정 하시겠습니까?")) {
	    $.ajax({
	        type: 'POST',
	        url: url+'/agentCmDbUpdate',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	alert("수정되었습니다.");
	    	jsList();
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	}
}

//파일 수집방식 수정
const agentCmFileUpdate = function(){
	
	let file_id = '{{update_id}}';
	let method_nm = $('#method_nm').val();
	let file_path = $('#file_path').val();
	let bypass_yn = $("input:radio[name='bypass_yn']:checked").val();
	let file_ext = '';
	let file_delimiter = '';
	
	if(bypass_yn == 'N'){
		file_ext = $('#file_ext').val();
		file_delimiter = $('#file_delimiter').val();
	}
	
	if(!file_path){
		alert('파일경로를 입력하세요!');
        $("#file_path").focus();
        return;
	}
	
	const data = {
   		url: '/cm/'+methodCd2+'/update',
   		user_id: 'user00',
   		method_cd: methodCd2,
   		method_nm: method_nm,
   		file_id: file_id,
   		file_path: file_path,
   		bypass_yn: bypass_yn,
   		file_ext: file_ext,
   		file_delimiter: file_delimiter,
    };	

	if (confirm("수정 하시겠습니까?")) {
	    $.ajax({
	        type: 'POST',
	        url: url+'/agentCmFileUpdate',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	alert("수정되었습니다.");
	    	jsList();
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	}
}

//데이터베이스 수집방식 삭제
const agentCmDbDelete = function(){
	
	let db_id = '{{update_id}}';
	
	const data = {
   		url: '/cm/'+methodCd1+'/delete',
   		user_id: 'user00',
   		db_id: db_id
    };
	
	if (confirm("삭제 하시겠습니까?")) {
		$.ajax({
	        type: 'POST',
	        url: url+'/agentCmDbDelete',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	alert("삭제되었습니다.");
	    	jsList();
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	}
}

//파일 수집방식 삭제
const agentCmFileDelete = function(){
	
	let file_id = '{{update_id}}';
	
	const data = {
   		url: '/cm/'+methodCd2+'/delete',
   		user_id: 'user00',
   		file_id: file_id
    };
	
	if (confirm("삭제 하시겠습니까?")) {
		$.ajax({
	        type: 'POST',
	        url: url+'/agentCmFileDelete',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	alert("삭제되었습니다.");
	    	jsList();
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	}
}

//상세조회
const agentCmDetail = function(){
	let method_cd = '{{method_cd}}';
	$('#method_cd').val(method_cd).prop("selected",true);
	if(method_cd == methodCd1){	//데이터베이스
		agentCmDbDetail();
		showDbLayer();
	}else{	//파일
		agentCmFileDetail()
		showFileLayer();
	}
}

//수정
const agentCmUpdate = function(){
	let method_cd = '{{method_cd}}';
	if(method_cd == methodCd1){ 	//데이터베이스
		agentCmDbUpdate();
	}else{	//파일
		agentCmFileUpdate();
	}
}

//삭제
const agentCmDelete = function(){
	let method_cd = '{{method_cd}}';
	if(method_cd == methodCd1){ 	//데이터베이스
		agentCmDbDelete();
	}else{	//파일
		agentCmFileDelete();
	}
}

//파일 데이터 수집방식 show
const showFileLayer = function(){
	$("#f_layer").show();
 	$("#d_layer").hide();
}

//데이터베이스 데이터 수집방식 show
const showDbLayer = function(){
	$("#d_layer").show();
 	$("#f_layer").hide();
}

//데이터 수집방식 관리 목록 페이지 이동
const jsList = function(){
	let method_cd = $("#method_cd option:selected").val();
	
	let form = document.createElement('form');
	form.setAttribute('method','post');
	form.setAttribute('action', url + '/list');
	
	let input = document.createElement('input');
	input.setAttribute('type', 'hidden');
	input.setAttribute('name', 'method_cd');
	input.setAttribute('value', method_cd);
    form.appendChild(input);
    
    document.body.appendChild(form);
	form.submit();
}

$("input:radio[name='bypass_yn']").on("change", function(){
	if($(this).val() == 'Y'){
		$("#f_layer2").hide();
	}else{
		$("#f_layer2").show();
	}
});

//상세조회
agentCmDetail();
</script>