<html lang="en">
  <head>
    <title>LX Agent | 테이블 형태</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- common css-->
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <!-- custom css-->
    <link rel="stylesheet" href="/css/style.css">

  </head>
	<body class="nav-md">
		<div class="x_panel" style="height: 100%;">
			<div class="x_title">
				<h2>관리자 등록</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
			  <div class="border_rows">
			  
                   <div class="row">
                     <div class="form-group row col-12 col-md-12">
                       <div class="control-label" style="text-align: center;">아이디</div>
                       <div class="form-control_box">
                       	<div class="col-md-9">
                       		<input class="form-control" type="text" name="user_id" id="user_id">
                       	</div>
                       	<div class="col-md-3">
                        	<button class="btn btn-primary" onclick="agentUserCheck();">중복확인</button>
                        </div>
                       </div>
                     </div>                    
                   </div>
                   <div class="row">
                     <div class="form-group row col-12 col-md-12">
                       <div class="control-label" style="text-align: center;">비밀번호</div>
                       <div class="form-control_box"><input class="form-control" type="text" name="user_pwd" id="user_pwd"></div>
                     </div>
                   </div>
                   
                 </div>
                 <div class="d-flex justify-content-center align-items-center mt-2">
                   <button class="btn btn-primary" onclick="agentUserReg();">등록</button>
                 </div>                    
			</div>
		</div>
		<input type="hidden" name="id_check" id="id_check" value="N">
		<script src="/vendors/jquery/dist/jquery.min.js"></script>
    	<script src="/vendors/jquery/dist/jquery-ui.min.js"></script>
    	<script src="/js/common.js"></script>  
	</body>
</html>

<script>
	document.title = "LX DT | 관리자 등록";
	const url = '/login/admin';
	
	//아이디 중복체크
	const agentUserCheck = function () {
			
	    if($("#user_id").val() == '') {
	        alert('사용자ID 입력하세요!');
	        $("#user_id").focus();
	        return;
	    }
	    
	    const data = {
	   		url: '/user/check',
	   		user_id: $("#user_id").val(),	
	    };		
	    $.ajax({
	        type: 'POST',
	        url: url+'/agentUserCheck',
	        dataType: 'json',
	        contentType: 'application/json; charset-utf-8',
	        data: JSON.stringify(data)
	    }).done(function (data) {
	    	
		  	  if (data != null) {
		  		  
	    		  if(errorMsg(data)){
	  	          	 return;  
        	  	  }	
		  		
			  		let message = JSON.stringify(data.message);
			  		
			  		message = message.replace(/\"/gi, '');
			  		alert(message);
			  		
		  			$("#id_check").val(data.code);
			  		
		  	  }
	    	  
	    }).fail(function (error) {
	        alert(JSON.stringify(error));
	    });	
	}
	
	//관리자 등록
	const agentUserReg = function () {

	    if($("#user_id").val() == '') {
	        alert('사용자ID 입력하세요!');
	        $("#user_id").focus();
	        return;
	    }
	    if($("#id_check").val() == '400') {
	        alert('중복확인을 확인하세요!');
	        $("#id_check").focus();
	        return;
	    }
	    if($("#user_pwd").val() == '') {
	        alert('사용자비밀번호 입력하세요!');
	        $("#user_pwd").focus();
	        return;
	    }
	    
		if(confirm('등록 하시겠습니까?')) {
			
		    const data = {
		   		url: '/user/reg',
		   		user_id: $("#user_id").val(),	
		   		user_pwd: $("#user_pwd").val(),	
		    };		
		    $.ajax({
		        type: 'POST',
		        url: url+'/agentUserReg',
		        dataType: 'json',
		        contentType: 'application/json; charset-utf-8',
		        data: JSON.stringify(data)
		    }).done(function (data) {
		    	
			  	  if (data != null) {
			  		  
		    		  if(errorMsg(data)){
		  	          	 return;  
	        	  	  }	
				  		
				  		let message = JSON.stringify(data.message);
				  		alert(message.replace(/\"/gi, ''));
				  		listPage();
			  	  }
		    	  
		    }).fail(function (error) {
		        alert(JSON.stringify(error));
		    });	
		}
	}	
	
	//리스트 화면
	const listPage = function () {
		location.href = '/login/loginForm';
	}	
</script>

