<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LX Agent</title>
		<link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/signin.css" rel="stylesheet">
	   	<style>
		.bd-placeholder-img {
		  font-size: 1.125rem;
		  text-anchor: middle;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}
		
		.reg-txt{
			text-align: right; 
			color: #3498db; 
			font-weight: bold;
			text-decoration: underline;
			cursor: pointer;
		}
	
		@media (min-width: 768px) {
		  .bd-placeholder-img-lg {
		    font-size: 3.5rem;
		  }
		}
		</style>
	</head>
	<body class="text-center">
	   	<form class="form-signin" action="/login/loginProc" method="post">
<!-- 			<h1 class="h3 mb-3 font-weight-normal">LX Agent</h1> -->
			<label for="username" class="sr-only">아이디</label>
			<input type="text" id="username" name="username" class="form-control" placeholder="아이디" required autofocus>
			<label for="password" class="sr-only">비밀번호</label>
			<input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
			<div class="reg-txt mt-3">
				관리자 등록    
			</div>
		</form>
	</body>
</html>
